<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styleList.css">
    <%- include("partials/head.ejs") %>
    <title>Lista de Productos</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
  
    </section>
    <br>
    
    <div class="productos">
         <% for (let i = 0; i < listaProductos.length; i++) { %>
        
    <div class="producto">
        <a href="/productos/productDetail/<%= listaProductos[i].producto_id %>">
        <img class="img1"src= "/images/<%=(listaProductos[i].imagen)%>">
       
        
        <br>
        <p class="nombre"> <%= (listaProductos[i].nombre) %></p> 
        <p class="precio"> $<%= (listaProductos[i].precio) %> </p>
    </a>
    </div>
    <% } %> 
    </div>
    <a href="http://localhost:3030/productos/create" class="addProductButton">Agregar producto +</a>
</main>
</body>
<%- include("partials/footer.ejs") %>
</html>