<html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/stylePerfil.css">
        <link rel="stylesheet" href="/css/header.css">
        <title>Info de Usuario</title>
        <%- include("partials/head.ejs") %>
    </head>
    <header>
        <%- include("partials/header.ejs") %>
    </header>
    <body>
        <div class="container">
            <div class="top-info">
                <h1>Información de Usuario</h1> <br>
                <img src="/images/<%= usuario.imagen %>" alt="Imagen de perfil">  
            </div>
            
            <div class="main-info">
                <form action="/users/update/<%=usuario.id%>?_method=PUT" method="POST" class="main-info">
                <label>Nombre:</label>
                <input type="text" value="<%= usuario.nombre %>" name="nombre" class="nombre">
                <label>Apellido:</label>
                <input type="text" value="<%= usuario.apellido %>" name="apellido" class="apellido">
                <label>Correo:</label>
                <input type="email" value="<%= usuario.email %>" name="email" class="email">
                <br>
                <br>
                <button class="btn">Guardar</button>
                </form>
                <br>
                <form action="/users/logout" method="POST"> 
                    <button class="btn-close-session">Cerrar Sesión</button>
                </form>
        
            </div>
        </div>
      
    </body>
    <%- include("partials/footer.ejs") %>
    </html>
