<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleDetalle_admin.css">
    <link rel="stylesheet" href="/css/header.css">
    <%- include("partials/head.ejs") %>
    <%if(product != undefined){%>
    <title>Detalle de Producto</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    
        <div class="datos">
        <h1><%= product.nombre %></h1>
    </div>
    <div class="datos">
        <p>Precio: $<%= product.precio %></p>
   
    </div>
    <div class="imagen">
        <div class="imagenes">
            <div class="remeras2">
                <img class="remera3" src="/images/<%= product.imagen %>">
            </div>
          
        </div>
        <div class="remeras">
            <img class="remera1" src="/images/<%= product.imagen %>">
          
        </div>
        <div>
            <div class="datos2">
                <h1><%= product.nombre %></h1>
            </div>
            <div class="datos2">
                <div class="precio">
                <p>Precio: $<%= product.precio %></p>
            </div>
            
            
            <button class="editar"><a href="/productos/edit/<%= product.producto_id %>">Editar Producto <i class="fa-solid fa-pen-to-square"></i></a></button>
            <form action="/productos/delete/<%= product.producto_id %>/?_method=DELETE %>" method="POST">
                <button type="submit" class="delete">Eliminar Producto <i class="fa-solid fa-trash"></i></i></button>
            </form>
                <div class="descripcion2">
                    <div>
                        <h2>Descripción</h2>
                    </div>
                    <div class="parrafo2">
                        <p><%= product.descripcion %></p>
                </div>
              
                </div>
            </div>
        </div>
      
    </div>
    <br>
    <div class="descripcion">
        <div>
            <h2>Descripción</h2>
        </div>
        <div class="parrafo">
            <p><%= product.descripcion %></p>
        </div>
    </div>
    <%}%>

    
 
    <div class="botones">
        <button class="editar2"><a href="/productos/edit/<%= product.producto_id %>"><i class="fa-solid fa-pen-to-square"></i></a></button>
        <form action="/productos/delete/<%= product.producto_id %>/?_method=DELETE %>" method="POST">
            <button type="submit" class="delete2"><i class="fa-solid fa-trash"></i></button>
        </form>
        </div>
</body>
<%- include("partials/footer.ejs") %>
</html>