<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2c91db2581.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleLogin.css">
    <script src="/js/validaciones_login.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <section class="ventana">
            <main>
                <div class="menu">
                    <div class="titulo">
                        <h1>Clientes Registrados</h1>
                        <div class="datos2-p">
                            
                            <p>Si no sos cliente registrate <a href="register">acá</a></p>
                        </div>
                    </div>
                    <form action="/users/logged" method="POST">
                    <div class="datos">
                        <div class="datos2">
                            <label>Email:</label>
                            <input type="email" name="email" id="email" value="<% if(typeof valores != 'undefined') { %><%= valores.email %><%}%>">
                            
                        </div>
                        <div class="datos2">
                            <label>Contraseña:</label>
                            <input type="password" name="password" id="password" value="<% if(typeof valores != 'undefined') { %><%= valores.password %><%}%>">
                        </div>
                        <br>
                        <div>
                            <label for="">Recordame</label>
                            <input type="checkbox" name="recordame">
                        </div><br>
                        <div class="datos2-button">
                            <a href="/users/logged"><button type="submit">Ingresar</button></a>
                            
                        </div>
                       
                        <div class="datos2-p">
                            <br>
                            <p>Si no sos cliente registrate <a href="register">acá</a></p>
                        </div>
                    </div>
                </form>
                
            </main>
            
            <div class="title-errors">
            <div class="title">
                <h1>Bienvenido/a a Básica</h1>
                <p>Inicia sesión para realizar tus compras</p>
            </div>
            <div class="errors">
            <% if(typeof validaciones != 'undefined') { %>
                <% validaciones.forEach( (validacion)=> { %>                 
                <div class="error">
                      <p><%= validacion.msg %></p> 
                </div>
                <%})%>
            <%}%>
            <% if(typeof mensaje != "undefined"){ %>
                <div class="error">
                    <p><%= mensaje%></p>
                </div>
            <%}%>
            <div class="alert" id="alert">
                <p class="invisible" class="msg" id="msg" name="msg">Correo o contraseña incorrecta</p>
                </div>
            </div>
            
            
        </div>
    </section>
</body>

<%- include("../partials/footer.ejs") %>

</html>